@model IEnumerable<ChampSupermarket.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<img id="myimage" src="Images/pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;">
<canvas id="myCanvas" width="250" height="300"
        style="border:1px solid #d3d3d3;"></canvas>
<p><button onclick="myCanvas()">Try it</button></p>

    <script>
        function myCanvas() {
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            var img = document.getElementById("myimage");
            ctx.drawImage(img, 10, 10);
        }
    </script>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.suplier.SuplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.suplier.SuplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }
    </table>
